/* Reset some default styles to achieve consistency */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 10;
    padding: 0;
}

/* Apply some basic styles to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #F5FEFD;
    color: #022D36;
}

/* Style for header element */
header {
    background-color: #016064;
    color: #fff;
    padding: 10px;
}

/* Style for navigation links */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}

/* Style for main content area */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #8D4004;
    color: #fff;
}